@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply bg-grid-neutral-200/40 bg-neutral-100 text-mainblack dark:bg-grid-neutral-800/50 dark:bg-mainblack dark:text-neutral-100; */
	@apply bg-grid-neutral-200/40 bg-grid-neutral-800/50 bg-mainblack text-mainblack text-neutral-100;
	/* background-color: #191825; */
	/* background: linear-gradient(180deg, #191825 0%, #191825 100%); */
}

/* Animations */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: -0.1;
	}
	100% {
		opacity: 1;
	}
}

.animate-blink {
	animation: blink 3s infinite;
}

@keyframes shake {
	0% {
		transform: translateX(1);
	}
	25% {
		transform: translateX(-4px);
	}
	50% {
		transform: translateX(1);
	}
	75% {
		transform: translateX(4px);
	}
	100% {
		transform: translateX(0);
	}
}

.animate-shake {
	animation-timing-function: ease-in-out;
	animation: shake 5s infinite;
}

/* show on hover text */
.tooltip:before {
	content: attr(data-title);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 0.25em;
	font-size: 0.75rem;
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 1000;
}
.tooltip:hover:before {
	opacity: 1;
}
